# AWS profile for local development
AWS_PROFILE=terraform-admin
AWS_SDK_LOAD_CONFIG=1
AWS_REGION=ap-southeast-1

# Data store and media bucket
DYNAMO_DB_TABLE_NAME=learning-content-dev
MEDIA_PRIVATE_BUCKET_NAME=kejepangdulu-dev-media-private
PRODUCT_SERVICE_INTERNAL_API_BASE_URL=http://localhost:3001
PRODUCT_SERVICE_INTERNAL_SERVICE_API_KEY=internal-dev-key

# Local server port (optional)
PORT=3004
