AWS_REGION=ap-southeast-1
DYNAMODB_TABLE_NAME=learning-content-dev
MEDIA_PRIVATE_BUCKET_NAME=kejepangdulu-dev-media-private
MEDIA_PUBLIC_BUCKET_NAME=kejepangdulu-dev-public
# PRODUCT_IDS=p0,p1
# MAX_RETRIES=5
# DRY_RUN=false