# Cognito
COGNITO_API_ENDPOINT=
COGNITO_USER_POOL_CLIENT_ID=

# CORS (local frontend)
AUTH_ALLOWED_ORIGIN=

# Cookie config for local HTTP
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_SECURE=
AUTH_COOKIE_SAME_SITE=
AUTH_REFRESH_COOKIE_NAME=
AUTH_REFRESH_COOKIE_PATH=
AUTH_REFRESH_COOKIE_MAX_AGE_SECONDS=
